:root {
  --gradient-text: var(--color-primary);
  --gradient-bar: linear-gradient(103.22deg, #c7c7c7 -13.86%, #ff7a48 99.55%);

  --color-primary: #E6AA04;
  --color-bg: #fff;
  --color-bg-1: #b3a69f;
  --color-bg-2: #d8f2ea;
  --color-text: #fff;
  --color-subtext: #FF8A71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  overscroll-behavior: none;
}

/* if using bottom-img, uncomment this 
#quarto-content {
  background: linear-gradient(-180deg, #000000 0%, #021d44 50%, #205493 100%);
}  
*/

.gradient_bg {
  width: 100%;
  margin-top: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #205493 100%); /* if using bottom-img, comment this */
  /* background: linear-gradient(90deg, rgba(0, 97, 242, 1) 0%, rgba(105, 0, 199, 1) 100%); */
}

h1 {
  color: white;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
  padding: 2rem 6rem 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

.site-hero {
  display: flex;
  flex-direction: row;
  z-index: 1;
  max-width: 2000px;
  margin: auto;
  padding-top: 6rem;
}

.site-hero_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 7;
  margin-right: 5rem;
  margin: auto;
  max-width: 700px;
}

.site-hero_content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.site-hero_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.site-hero_content a {
  color: #E6AA04;
}

.site-hero_content_input {
  z-index: 7;
  width: 100%;
  margin: 2rem 0 0rem;
  display: flex;
  flex-direction: row;
}

.site-hero_content_input iframe {
  flex: 2;
  min-height: 53px;
  max-height: 53px;
  padding: 0 0rem;
  margin: 0 !important; 
  padding:0 !important; 
  border-radius: 0px !important; 
  background-color: transparent; 
  width: 100%;
}

.site-hero_content_below_button span {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  color: white;
  font-size: 12pt;
  font-style: italic;
}

.site-hero_image {
  z-index: 7;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-hero_image img {
  z-index: 7;
  width: 70%;
  aspect-ratio: 1/1;
  margin: auto;
  max-width: 350px;
  min-width: 250px;
  border-radius: 50%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 1rem 2rem 0rem 2rem;
  }
  
  .site-hero {
    padding-top: 2rem;
  }

  .section_margin {
    margin: 4rem;
  }
  
  #sakura_branch {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 1rem 2rem 0rem 2rem;
  }
  
  .site-hero {
    padding-top: 2rem;
  }

  .section_margin {
    margin: 4rem 2rem;
  }
  
  #sakura_branch {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .site-hero {
    flex-direction: column;
  }

  .site-hero_content {
    margin: 0 0 3rem;
  }
  
  #sakura_branch {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .site-hero_content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .site-hero_content p {
    font-size: 16px;
    line-height: 24px;
  }
  
  .site-hero_content_below_button span{
    font-size: 11px;
  }

  .site-hero_content_input input,
  .site-hero_content_input button,
  .site-hero_content_input iframe{
    font-size: 16px;
    line-height: 24px;
  }
  
  #sakura_branch {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .site-hero_content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .site-hero_content p{
    font-size: 14px;
    line-height: 24px;
  }

  .site-hero_content_input input,
  .site-hero_content_input button,
  .site-hero_content_input iframe{
    font-size: 12px;
    line-height: 16px;
  }
  
  .site-hero_content_below_button span{
    font-size: 10px;
  }
  
  #sakura_branch {
    display: none;
  }
}

#bottom_wave {
  z-index: 7;
  width: 100%;
  position: relative;
  background-position-y: 0;
  padding-top: 50px;
}

#bottom_img {
  z-index: 7;
  background-size: cover;
  min-height: 300px;
  position: relative;
  background-position-y: 0;
  padding-top: 0px;
}

.gradient_bg #sakura_branch {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 350px;
  min-width: 250px;
}
